<div class="profile row">
  <div class="col-md-4 avatar">
    <div class="wrapper">
      <img src="https://www.deviantart.com/lillyrosecraft">
    </div>
  </div>
  <div class="col-md-8 basic-info">
    <div class="user-wrapper">
      <h2 class="username">vek_malek</h2>
      <a class="edt-profile">
        <button>Edit Profile</button>
      </a>
      <ul class="posts">
        <li><span>12</span> posts</li>
        <li><span>190</span> followers</li>
        <li><span>340</span> following</li>
      </ul>
      <h2 class="name">Vek Malek</h2>
      <a class="website">velka.com</a>
    </div>
  </div>
</div>